<div class="container-menu">
  <div class="logo w-1/5">
    <a href="/">
      <img src="logo.svg" alt="logo">
    </a>
  </div>
  <div class="menu-main w-4/5">

    <a href="/" class="text-white!">
      <span class="material-symbols-outlined home">Home</span>
    </a>
    <input type="text" placeholder="What do you want to play?" class="w-2/5 search"/>

    <div class="w-2/5 account">
        @if (userState() != null){
          <a class="text-white! image-container" >
          <img [src]="userState()?.avatar" alt="profile"
               class="profile" (click)="menu.toggle($event)">
          <p-menu #menu [model]="items" [popup]="true"/>
          </a>
        } @else {
          <a class="btn-explore ml-[10px]!" routerLink="/login">Login</a>
        }
      <a class="text-white!">
        <span class="material-symbols-outlined">group</span>
      </a>
      <a class="text-white!">
        <span class="material-symbols-outlined">favorite</span>
      </a>

    </div>

  </div>

</div>
