<div class="container-menu">
  <div class="logo w-1/5">
    <a href="/">
      <img src="logo.svg" alt="logo">
    </a>
  </div>
  <div class="menu-main w-4/5">
    <a href="/" class="text-white!">
      <span class="material-symbols-outlined home">Home</span>
    </a>
    <input type="text" placeholder="What do you want to play?" class="w-2/5 search"/>

    <div class="w-2/5 account">
      <a class="text-white! image-container" (click)="menu.toggle($event)">
        <img src="https://i.pinimg.com/736x/19/cc/74/19cc74a49db1a5cc9d4d007bfa5f6668.jpg" alt="profile"
             class="profile">
        <p-menu #menu [model]="items" [popup]="true"/>
      </a>
      <a class="text-white!">
        <span class="material-symbols-outlined">group</span>
      </a>
      <a class="text-white!">
        <span class="material-symbols-outlined">favorite</span>
      </a>
      <button class="btn-explore">Admin Dashboard</button>
    </div>

  </div>

</div>
